@menuColor: #574340;
@greyTextColor: #846c67;
@pinkTextColor: #FF8888;
@lightGreyColor: #BDBDBD;
@greenColor: #93DB15;
@OpenSansFont: OpenSans;
@OpenSansLight: OpenSans-Light;
@OpenSansRegular: OpenSans-Regular;
@OpenSansSemibold: OpenSans-Semibold;
@SansationFont: sansationRegular;


/*main*/
iframe{
	margin-bottom: 30px;
}
h2 {
	color: @greyTextColor;
}

header { 
	button.serch {
		margin-top: 5px;
		&:hover{
			background: url(../images/serch-active.png);
		};
	}
	.disk-shope{
		color: @pinkTextColor;
		font-family: @OpenSansLight;
	}
	.login{
		height: 45px;
	}
	a img.logo {
		margin-left: auto;
		margin-right: auto;
	}
	input{
		display: none;
	}
}
.navbar .navbar-right .hvr-outline-out{
	border: 2px solid @greyTextColor;
	&:hover{
		border:2px solid @greyTextColor;
		padding-bottom: 30px;

	}
}
.nav > li > a:focus{
	background: @menuColor;
	border: 0;
	outline: none;
}


.hvr-outline-out{
	border: 1px;
}

/*index*/
.news, .discount {
	.img-responsive{
		width: 100%;
		max-width: 100%;
	}
}