h2 {
  color: #846c67;
}
header .disk-shope {
  color: #ff8888;
  font-family: OpenSans-Light;
}
header a img.logo {
  margin-left: auto;
  margin-right: auto;
}
.news .img-responsive,
.discount .img-responsive {
  width: 100%;
  max-width: 100%;
}
.hvr-outline-out {
  border: 1px;
}
