@menuColor: #574340;
@greyTextColor: #846c67;
@pinkTextColor: #FF8888;
@lightGreyColor: #BDBDBD;
@greenColor: #93DB15;
@OpenSansFont: OpenSans;
@OpenSansLight: OpenSans-Light;
@OpenSansRegular: OpenSans-Regular;
@OpenSansSemibold: OpenSans-Semibold;
@SansationFont: sansationRegular;

header {
	.disk-shope{
		color: @pinkTextColor;
		font-family: @OpenSansLight;
	}
	a img.logo {
		margin-left: auto;
		margin-right: auto;
	}
}
.news, .discount {
	.img-responsive{
		width: 100%;
		max-width: 100%;
	}
}